/* .yoda {
    background-size: cover;
    padding-left: 200px;
}

*/ .homeSound {
    display: flex;
    position: absolute;
    /* z-index: -1; */
}
html,
body {
    width: 100%;
    height: 100%;
    background: black;
    margin: 0;
    overflow: hidden;
    /* Evite la scrollbar */
    /* Center items */
    display: flex;
    align-items: center;
    justify-content: center;
        background-image: url('../assets/img/pexels-francesco-ungaro-998641.jpg');
            background-size: cover;
            background-repeat: no-repeat;
            width: 100%;
}

.a-long-time-ago {
    /* cosmétique */
    font-size: 32px;
    color: #4bd5ee;
    display: flex;
        position: relative;
        justify-content: center;
    /* Animation */
    /* Apparition et disparition progressive */
    opacity: 0;
    animation-delay: 0.5s;
        animation-duration: 2.5s;
        animation-name: a-long-time-ago;
        animation-timing-function: ease-out;
}

@keyframes a-long-time-ago {
    0% {
opacity: 0;
}

20% {
    opacity: 1;
}

80% {
    opacity: 1;
}
100% {
opacity: 0;
}
}
.crawl {
    /* centrage de l'élément' */
    position: absolute;
    top: 45%;
        left: 24%;
            width: 1600px;
        top: auto;
        bottom: 0;
        height: 50em;
        /* cosmétique */
        color: #ffe81f;
        font-size: 64px;
        display: flex;
        text-align: justify;
        justify-content: center;
        /* Applique la transformation  */
        transform-origin: center bottom;
        transform: perspective(300px) rotateX(25deg);
    }
.crawl>div {
    /* positionne la div en bas de l'écran (non visible) */
    /* l'animation la fait remonter progressivement */
    position: absolute;
    top: 100%;
        animation-delay: 3.5s;
        /* Démarre l'animation après la première */
        animation-duration: 20s;
        animation-name: crawl;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
    }
@keyframes crawl {
    0% {
        top: 100%;
        opacity: 1;
    }
80% {
    opacity: 1;
}
100% {
    top: 0;
    opacity: 1;
}
}