@font-face {
    font-family: "fontStarWars";
    src: url('/src/assets/fonts/STJEDISE.TTF');
}

.header {
    min-height: 10vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: calc(10px + 2vmin);
}

.headerButton {
    display: flex;
    justify-content: flex-end;
    padding-right: 50px;
}

.headerTitle {
    display: flex;
    justify-content: center;
    padding-left: 480px;
    color: #ffe81f;
    font-family: "fontStarWars";
}