.boxCard {
    color: #FFe81f;
    /* border: #FFe81f solid 5px; */
    margin: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.TourCard1, .TourCard2, .TourCard3, .TourCard4 {
    border: #FFe81f solid 5px;
    border-radius: 30px;
    margin: 50px;
    padding: 20px;
    justify-content: space-between;
    display: flex;
    align-items: center;
    flex-direction: column;
    
}

.picwin img {
    max-height: 90px;
    border-radius: 80px;

}

.planetPic{
    max-height: 200px;
    position: relative;
    top: -50px;
    left: -280px;

}
.racePic{
    max-height: 200px;
    min-width: 400px;
    padding-top: 40px;
}

.tourTitle {
    text-align: center;
    margin-top: 70px;
    font-family: "fontStarWars";
    color: #FFe81f;
    font-size: 50px;
  }

  .raceTitle{
    font-size: 40px;
    margin-bottom: -50PX;
  }

  .lastwin {
   width : 700px ;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 50px;
    border: #FFe81f solid;
    box-shadow: #FFe81f 10px 10px 10px;
  }

  .racedate{
position: relative;
top: -50px;
font-weight:bolder; 
  }

.participate{
    color: blue;
    width: 300px;
    height: 100px;
    font-size: 40px;
    border: solid blue 5px;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.2s;
    font-family: "fontStarWars";

}

.participate:hover {
    transform: translateY(-0.25em);
    background-color:lightgray;
}